# Introduction to Python Using (Jupyter) Notebooks  

---

For the purposes of this class, we are utilizing Google Colab, but in your career you will likely use "Jupyter Notebooks." The technology is almost identical, but Colaboratory adds simplicity that will make teaching easier.


Recall from class:

Notebooks allow you to combine code and text in one place. Above this text block, you can see  "+Code" and "+Text" buttons. These create blocks where you choose how it should be treated by the notebook.

If you are using a code block, you can hit "shift + enter" to run the block. Keep in mind, the order in which you run blocks of code matter!

In [ ]:
# print('Scott')
print('Hello!')

Output is printed directly after the code block is run.


Let's quickly go through some basics of Python. 

What data stuctures are we dealing with, what is a:

*   list
*   dictionary
*   set
*   tuple
*   DataFrame
*   ndarray

... Many more, but these will be the primary ones we will use.

Let's see how to use the basic Python data types


---

In [ ]:
# Intantiate an empty list -- quick note about comments
my_list = 
print(my_list)

In [ ]:
# Instantiate an emtpy list (a different way)
my_list = 
print(my_list)

In [ ]:
# Instantiate a list with values: 1, 4, 5, 10, 3, 9
my_list = 
print(my_list)

In [ ]:
# Display the 4th value (returns the value 10)
my_list_4th_value = 
print(my_list_4th_value)

In [ ]:
# Instantiate an empty dictionary
my_dictionary = 
print(my_dictionary)

In [ ]:
# Instantiate an empty dictionary (a different way)
my_dictionary = 
print(my_dictionary)

In [ ]:
# Instantiate a dictionary with values:
# "a" = 3
# "b" = 10
# "blah" = 3
my_dictionary = 
print(my_dictionary)

In [ ]:
# Print the value for "b" in the dictionary (returns the value 10)
my_dictionary_b_value = 
print(my_dictionary_b_value)

In [ ]:
# Create a dictionary with different value types:
# 'blah' = a_list_of_integers
# 'blah2' = a string
# 'blah3' = an integer
my_dictionary_of_different_types = 
print(my_dictionary_of_different_types)

In [ ]:
# Print the value from the dictionary for "blah"
my_result = 
print(my_result)

In [ ]:
# Create a set with values 1, 10, 4, 10, 11, 9, 9, 4
my_set = 
print(my_set)

In [ ]:
# Find the difference between the previous set and another with values 100, 10, 4, 99, 100, 78
my_set_2 = 

my_set_difference = 

print(my_set_difference)

In [ ]:
# Create an empty tuple
my_tuple = 
print(my_tuple)

In [ ]:
# Create a tuple with values "apple", "banana", "hello"
my_fun_tuple = 
print(my_fun_tuple)

#### Slightly more advanced:

Iteratation can be powerful. What if you need to perform a calculation on every item in a list?

Example of a `for` loop

In [ ]:
# Use the list created at the top of this document "my_list"
# Output should look like the following (without being commented out):

# My Number:
# 1
# My Number + 5 = 
# 6
# My Number:
# 4
# My Number + 5 = 
# 9
# My Number:
# 5
# My Number + 5 = 
# 10
# My Number:
# 10
# My Number + 5 = 
# 15
# My Number:
# 3
# My Number + 5 = 
# 8
# My Number:
# 9
# My Number + 5 = 
# 14

In [ ]:
# That's a bit messy, let's utilize the "f string" notation (quick note about Python versions)
# Output should look like the following (without being commented out):

# My Number: 1 ----> My Number + 5 = 6
# My Number: 4 ----> My Number + 5 = 9
# My Number: 5 ----> My Number + 5 = 10
# My Number: 10 ----> My Number + 5 = 15
# My Number: 3 ----> My Number + 5 = 8
# My Number: 9 ----> My Number + 5 = 14

It can be helpul to utilize functions to reduce copy/paste to improve and simplify your code. You can do so by using `def`

In [ ]:
# Create a function called "add_n" to add an arbitrary integer to an arbitrary integer input

In [ ]:
# Use your new function to output a value.
# Arbitrary input = 12, 
# Arbitrary integer to add = 5
# Output should = 17

In [ ]:
# Let's utilize the add_n function in a for loop utilizing the f string notation
# Output should look like the following (without being commented out):

# My Number: 1 ----> My Number + 5 = 6
# My Number: 4 ----> My Number + 5 = 9
# My Number: 5 ----> My Number + 5 = 10
# My Number: 10 ----> My Number + 5 = 15
# My Number: 3 ----> My Number + 5 = 8
# My Number: 9 ----> My Number + 5 = 14

In [ ]:
# What if you wanted an arbitrary number to add? For example, + 2
# Recreate the answer from the previous section but utilizing arbitrary numbers
# Output should look like the following (without being commented out):

# My Number: 1 ----> My Number + 2 = 3
# My Number: 4 ----> My Number + 2 = 6
# My Number: 5 ----> My Number + 2 = 7
# My Number: 10 ----> My Number + 2 = 12
# My Number: 3 ----> My Number + 2 = 5
# My Number: 9 ----> My Number + 2 = 11